# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/
env/

# VS Code settings
.vscode/

# Local app data
/data/

# Distribution / packaging
build/
dist/
*.egg-info/

# PyInstaller
*.manifest
*.spec
